 .home {
     position: relative;
     background-color: rgb(139 92 246);
     height: 100vh;
     width: 100vw;
 }
 
 @media screen and (min-width: 640px) {
     .home {
         position: absolute;
         background-color: rgb(139 92 246);
         height: 100vh;
         width: 100vw;
         clip-path: polygon(86% 0, 61% 12%, 44% 41%, 0 46%, 0 0);
     }
 }
 /* https://bennettfeely.com/clippy/ */
 /* clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 calc(100% - 12vw)) */